pom.dtd

<!ELEMENT properties (java.version,project.build.sourceEncoding)>
<!ELEMENT java.version (#PCDATA)>
<!ELEMENT project.build.sourceEncoding (#PCDATA)>
<!ELEMENT dependencies (dependency+)>
<!ELEMENT dependency (groupId,artifactId,version?,scope?,exclusions?)>
<!ELEMENT groupId (#PCDATA)>
<!ELEMENT artifactId (#PCDATA)>
<!ELEMENT version (#PCDATA)>
<!ELEMENT scope (#PCDATA)>
<!ELEMENT exclusions (exclusion)>
<!ELEMENT exclusion (groupId,artifactId)>